{{#each this}}
  <div class="item">
    <img src="{{img}}" alt="Item photo" />
    <h3>{{name}}</h3>
    <p>Процесор: {{processor}}</p>
    <p>Об'єм пам'яті: {{storage}}</p>
    <button type="button">Купити {{price}}</button>
  </div>
{{/each}}